<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
    .bg-container{
      
        background-image:url("https://media.istockphoto.com/id/157681198/photo/dandelion-seed.jpg?b=1&s=170667a&w=0&k=20&c=o8JhDhTWH6WeB2yXixZVwLy1HQ0tR01FKdQM6EIeX3g=");
        background-size: cover;
        height:80vh;
        padding:80px;

    }
   
    .button{
       background-color: skyblue;
       color:white;
       width:10vw;
       padding:8px;
       border-width: 0;
       border-radius: 40px;
    }
   </style>
</head>   
<body>
 <div class="bg-container" > 
    <center>
        <h1 style="color:black">Forgot Password</center>
        <div style="margin-left:42%;; margin-top:5%"></div>
        <form method="POST">
            <!--  
            <label>Faculty id:</label>
            <p><input placeholder="Enter faculty id"type="text" name="fid" required/></p> -->
            
            <!-- email -->
            <label>Email:</label>
            <p><input placeholder="Enter email"type="text" name="email" required/></p>
            <button class="button">submit</button>
        </form>
  </center>  
</div>   
</body>
</html>

